:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #254d70;
  --secondary-color: #131d4f;
  --background-color: #efe4d2;
  --text-color: #954c2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
