:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #254d70;
  --secondary-color: #131d4f;
  --background-color: #efe4d2;
  --text-color: #954c2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playwrite";
  src: url("/src/assets/fonts/Playwrite.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
